
<script>
  $("#summernote").summernote({
    placeholder: "Write Something",
    tabsize: 2,
    minHeight: 200,
    maxHeight: 400,
    toolbar: [
      ["style", ["style"]],
      ["font", ["bold", "underline", "clear"]],
      ["color", ["color"]],
      ["para", ["ul", "ol", "paragraph"]],
      ["table", ["table"]],
      ["insert", ["link", "picture", "video"]],
      ["view", ["fullscreen", "codeview", "help"]],
    ],
  });
  $("p").each(function () {
    if (!$(this).text().trim().length) {
      $(this).remove();
    }
  });
</script>
<script src="JS/script.js"></script>
</body>
</html>
