<%- include('partials/header') %>

  <div class="main_body">
    <div class="navigator">
      <div class="everyone">
        <i class="material-icons main_icon">mail</i>
        <p>@every.one</p>
      </div>
      <a href="/"><div class="home active_navigator">
        <i class="material-icons home_icon">home</i>
        <p>Home</p>
      </div></a>
      <br />
      <a href="/history"><div class="history tab" href="/history">
        <i class="material-icons history_icon">history</i>
        <p>History</p>
      </div></a>
    </div>
    <div class="logs">
      <div class="log_header">
        <p class="log_title">Home</p>
        <a href="/compose"><div class="compose">
          <i class="material-icons add_icon">add</i>
          <p class="compose_text">Compose</p>
        </div></a>
      </div>
    

  </div>

<%- include('partials/footer') %>
