@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"); */
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"); */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/bg_img.jpg");
  /* background-color: aqua; */
  background-size: cover;
   overflow: hidden;
}

.main_body {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: white;
  height: 100vh;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 10px 18px #888888;
  color: rgb(58, 126, 153);
}

.navigator {
  border-top-left-radius: 25px;
  background: white;
  width: 15%;
  padding-left: 1%;
  padding-top: 15px;
  box-shadow: 5px 10px 18px #888888;
}

.logs {
  background: white;
  width: 20%;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
  flex-direction: column;
  /* padding-left: 1%;
  padding-top: 15px; */
}

.mail {
  border-top-right-radius: 25px;
  background: white;
  width: 65%;
  box-shadow: 5px 10px 18px #888888;
  /* background-image: url("../images/bg_img.jpg");
  background-size: cover; */
}

.home {
  cursor: pointer;
  height: 50px;
  width: 92%;
  display: flex;
  text-align: center;
  padding-left: 5%;
  color: rgb(58, 126, 153);
  font-weight: bold;
  /* display: flex;
  vertical-align: middle; */
}

.history {
  cursor: pointer;
  height: 50px;
  width: 92%;
  display: flex;
  text-align: center;
  padding-left: 5%;
  color: rgb(58, 126, 153);
  font-weight: bold;
}

.active_navigator {
  border-radius: 10px;
  background-color: rgb(212, 238, 255);
  /* box-shadow: 1px 1px 2px #888888; */
  color: rgb(69, 179, 230);
}

.everyone {
  height: 120px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  text-align: center;
  color: rgb(47, 96, 119);
  /* background-color: green; */
}

.home_icon {
  text-align: center;
  padding-top: 12px;
  padding-inline-end: 10px;
}

.history_icon {
  text-align: center;
  padding-top: 12px;
  padding-inline-end: 10px;
}

.main_icon {
  text-align: center;
  padding-top: 20px;
  padding-inline-end: 10px;
  color: rgb(69, 179, 230);
  font-size: 50px;
}

.tab:hover {
  border-radius: 10px;
  background-color: rgb(236, 247, 255);
}

.log_header {
  font-size: 30px;
  font-weight: bold;
  color: rgb(47, 96, 119);
  padding-left: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* box-shadow: 1px 0px 5px #888888; */
  /* background-color: green; */
}

.log_body {
  height: 100%;
  margin-top: none;
  /* background-color: yellow; */
  overflow-y: scroll;
}

.log_title {
  margin-bottom: 5px;
}

.compose {
  cursor: pointer;
  color: white;
  background-color: rgb(69, 179, 230);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.add_icon {
  padding-top: 3px;
  padding-left: 2px;
  padding-inline-end: 2px;
}
.compose_text {
  margin: 0;
  padding-top: 6px;
}
.row_active {
  background-color: rgb(240, 247, 250);
}

.message_activity {
  background-color: white;
  color: white;
}
.message_active {
  background-color: rgb(69, 179, 230);
  color: rgb(69, 179, 230);
}

.message_row {
  cursor: pointer;
  /* background-color: green; */
  /* color: white; */
  display: flex;
  flex-direction: row;
  box-shadow: 1px 0px 5px #888888;
}

.message_summary {
  width: 85%;
  padding-left: 10px;
}
/* .time {
  background-color: red;
} */
.message_title {
  font-weight: bold;
  color: rgb(58, 126, 153);
}

.mail_compose {
  padding-left: 2%;
  padding-right: 2%;
  display: block;
}

.compose_title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(47, 96, 119);
  /* padding-left: 18px; */
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.field {
  margin-bottom: 10px;
}

.field_input {
  /* border: none; */
  width: 99%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding-left: 20px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  /* margin-left: 15px; */
}

.field_input:focus {
  width: 100%;
  background-color: rgb(240, 247, 250);
  outline: none;
  /* margin-left: 0; */
}

.compose_active {
  opacity: 1;
}

.note-frame {
  border-radius: 15px;
  width: 99%;
}
.note-toolbar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* padding: 0 0 5px 10px; */
}

.note-editable:focus {
  background-color: rgb(240, 247, 250);
}

.scheduler_text {
  padding-left: 65vh;
  margin-inline-end: 10px;
}
#scheduler {
  cursor: pointer;
  color: rgb(69, 179, 230);
  background-color: rgb(240, 247, 250);
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 120px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-inline-end: 10px;
  outline: 0;
}
.btn-s {
  cursor: pointer;
  color: white;
  background-color: rgb(69, 179, 230);
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  /* display: flex;
  flex-direction: row; */
  font-size: 15px;
}

.field2 {
  margin-bottom: 20px;
}

.title_container {
  margin-left: 2%;
  margin-top: 85px;
  margin-right: 2%;
  margin-bottom: 1%;
  background-color: rgb(240, 247, 250);
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgb(164, 226, 255);
  padding-left: 16px;
  padding-top: 7px;
}
.to_container {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  background-color: rgb(240, 247, 250);
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  border-radius: 15px;
  padding-left: 16px;
  padding-top: 5px;
  border: 1px solid rgb(164, 226, 255);
  opacity: 0.6;
}
.message_container {
  margin-left: 2%;
  margin-top: 25px;
  margin-right: 2%;
  margin-bottom: 1%;
  background-color: rgb(240, 247, 250);
  font-size: 15px;
  height: 500px;
  border-radius: 15px;
  padding-left: 16px;
  padding-top: 25px;
  border: 1px solid rgb(164, 226, 255);
  /* overflow-y: scroll; */
}
